.filters-container {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.country-selector {
  flex: 1;
  min-width: 200px;
}

.description-search {
  flex: 1;
}

#clear-all-btn {
  height: 56px;
  margin-bottom: 1rem;
}